body {
    background-color: LightBlue;
    max-width: 800px;
    margin: auto;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

h2 {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

div.centred {
    text-align:center;
}

p {
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

p.list {
    text-align: left;
}

a {
    color: Black;
    text-decoration: none;
    text-align: center;
}

p.gameSmallBox {
    border: 1px;
    border-style: solid;
    border-color: Gold;
    display: inline;
    background-color: MidnightBlue;
    color: Khaki;
    text-align: center;
}

p.infoSmallBox {
    border: 1px;
    border-style: solid;
    border-color: MidnightBlue;
    display: inline;
    background-color: Khaki;
    color: Navy;
    text-align: center;
}

p.gameTextBox {
    border: 1px;
    border-style: solid;
    border-color: Gold;
    width: 800px;
    background-color: MidnightBlue;
    color: Khaki;
    text-align: left;
}

p.infoTextBox {
    border: 1px;
    border-style: solid;
    border-color: MidnightBlue;
    width: 800px;
    background-color: Khaki;
    color: Navy;
    text-align: left;
}

input[type="text"].string {
    font-family: "Lucida Console", Monaco, monospace;
    color: CornflowerBlue;
    background-color: Khaki;
    overflow: hidden;
    width: 50ch;
    height: 2ch;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

input[type="text"].command {
    font-family: "Lucida Console", Monaco, monospace;
    color: CornflowerBlue;
    background-color: Khaki;
    overflow: hidden;
    width: 75ch;
    height: 2ch;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

input[type="text"].number {
    font-family: "Lucida Console", Monaco, monospace;
    color: CornflowerBlue;
    background-color: Khaki;
    overflow: hidden;
    width: 5ch;
    height: 2ch;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

input type="text".string {
    font-family: "Lucida Console", Monaco, monospace;
    color: CornflowerBlue;
    background-color: Khaki;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

button {
    font-family: "Lucida Console", Monaco, monospace;
}

input {
    font-family: "Lucida Console", Monaco, monospace;
}

.positiveButton {
    background-color: Turquoise;
    border: none;
    color: Navy;
    padding: 1ch 1ch;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.positiveButton:hover {
    background-color: PaleTurquoise;
}

.informativeButton {
    background-color: DeepSkyBlue;
    border: none;
    color: Navy;
    padding: 1ch 1ch;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.informativeButton:hover {
    background-color: LightSkyBlue;
}

.negativeButton {
    background-color: Gold;
    border: none;
    color: Navy;
    padding: 1ch 1ch;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.negativeButton:hover {
    background-color: Khaki;
}

.backButton {
    background-color: Gray;
    border: none;
    color: Navy;
    padding: 1ch 1ch;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.backButton:hover {
    background-color: DimGray;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
